.file-listing.ng-enter,
.file-listing.ng-leave,
.file-listing.ng-move {
  -webkit-transition: 0.3s linear all;
     -moz-transition: 0.3s linear all;
       -o-transition: 0.3s linear all;
          transition: 0.3s linear all;
}

.file-listing.ng-enter,
.file-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.file-listing.ng-enter.ng-move-active,
.file-listing.ng-move.ng-move-active {
  opacity: 1;
  height: 120px;
}

.file-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.file-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}