<!DOCTYPE html>
<html ng-app="Yellowhammer">
  <head>
    <title>Yellowhammer Test Flight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
    
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="page-header no-top-marg">
        <h1>Yellowhammer: Manage your Files with Angular & S3</h1>
      </div>

      <!-- Login to AWS Section -->
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Input Your AWS Details</h3>
            </div>
            <div class="panel-body">
              <form role="form" ng-submit="loginToS3(creds.accessKey, creds.secretKey, creds.bucket)">
                <div class="input-group bottom-marg-10">
                  <span class="input-group-addon">ACCESS KEY</span>
                  <input ng-model="creds.accessKey" type="text" class="form-control" placeholder="1234567890">
                </div>
                <div class="input-group bottom-marg-10">
                  <span class="input-group-addon">SECRET KEY</span>
                  <input ng-model="creds.secretKey" type="text" class="form-control" placeholder="123SECRETKEY">
                </div>
                <div class="input-group bottom-marg-10">
                  <span class="input-group-addon">BUCKET</span>
                  <input ng-model="creds.bucket" type="text" class="form-control" placeholder="yh.interview">
                </div>
                <button id="login-button"type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
              </form>
            </div>
          </div>
        </div> 

        <!-- File Listings Section -->
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="">Your Files 
                <form ng-show="isLoggedIn" class="form-inline pull-right">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search Files" aria-describedby="basic-addon1">
                  </div>
                </form>
              </h3>
            </div>
            <div ng-if="isLoggedIn" class="panel-body">
              <div>
                Sort by:
                <select ng-model="orderProp">
                  <option value="name">Name</option>
                  <option value="age">Most Recent</option>
                  <option value="size">File Size</option>
                  <option value="type">File Type</option>
                </select>
              </div>

              <form role="form" ng-if="isEditing" ng-submit="editFileName(); stopEditing()">
                <input type="text" name="text" ng-model="fileName">
                <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok"></span></button>
                <button ng-click="stopEditing()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
              </form>
              <ul ng-show="files">
                <li ng-repeat="file in files | filter:query | orderBy:orderProp">
                  <button type="button" ng-click="showEditForm(file.Key)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
                  <a href="http://yh.interview.s3.amazonaws.com/{{file.Key}}">{{file.Key}}</a>
                  <button type="button" ng-click="deleteFileFromS3(file)" class="pull-right close">&times;</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Upload Form -->
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Upload A File</h3>
            </div>
            <div class="panel-body">
              <form id="uploadFileForm" role="form" ng-submit="uploadFileToS3()">
              <input id='uploader-button' class="bottom-marg-15" type="file" id="fileUpload"></input>      
              <button id='upload-button' class="btn btn-primary btn-block btn-lg" type="submit">Upload</button>
            </div>
          </div>
        </div>     
      </div>
    </div>

    <!-- javascripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/aws-sdk-js/dist/aws-sdk.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>

    <!-- Not sure I'll need these yet
    <script src="scripts/services.js"></script>
    <script src="scripts/directives.js"></script> -->
  </body>
</html>