<!DOCTYPE html>
<html ng-app="Yellowhammer">
  <head>
    <title>Yellowhammer Test Flight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
    
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="page-header no-top-marg">
        <a href="/"><img src="assets/logo.png"></a><h1>Manage your Files with Angular & S3</h1>
      </div>

      <!-- Left Panel -->
      <div class="row">

        <!-- Login Section -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Input Your AWS Credentials</h3>
            </div>
            <div class="panel-body">
              <form class="credentials" role="form" ng-submit="loginToS3(creds.prefix, creds.accessKey, creds.secretKey, creds.bucket)">
                <div class="input-group">
                  <span class="input-group-addon">PREFIX</span>
                  <input ng-model="creds.prefix" type="text" class="form-control" placeholder="1234567890">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">ACCESS KEY</span>
                  <input ng-model="creds.accessKey" type="text" class="form-control" placeholder="1234567890">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">SECRET KEY</span>
                  <input ng-model="creds.secretKey" type="text" class="form-control" placeholder="123SECRETKEY">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">BUCKET</span>
                  <input ng-model="creds.bucket" type="text" class="form-control" placeholder="yh.interview">
                </div>
                <button id="login-button"type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
              </form>
            </div>
          </div>

          <!-- Upload Form -->
          <div ng-show="isLoggedIn" class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Upload A File</h3>
                </div>
                <div class="panel-body">
                  <form id="uploadFileForm" role="form" ng-submit="uploadFileToS3()">
                    <input type="file" id="fileUpload"></input>      
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Upload</button>
                  </form>
                </div>
              </div>
            </div>     
          </div>
        </div>

        <!-- Right Panel -->
        <!-- File Listings Section -->
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Your Files 
              </h3>
            </div>
            <div class="panel-body" ng-if="isLoggedIn" >
              <form ng-show="isLoggedIn" class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="query" placeholder="Search Files">
                </div>

                <div class="form-group sorter">
                  Sort by:
                  <select class="form-control sorter" ng-model="orderProp">
                    <option value="Key">Name</option>
                    <option value="-LastModified">Most Recent</option>
                    <option value="-Size">Largest File Size</option>
                  </select>
                </div>
              </form>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>File Name</th>
                    <th>Rename</th>
                    <th>Size</th>
                    <th>Date Modified</th>
                    <th>Download</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="file in files | filter:query | orderBy:orderProp">
                    <th scope="row">
                      <form class="form-inline" role="form" ng-show="isEditing(file.Key)" ng-submit="editFileName()">
                      <input type="text" name="text" ng-model="newFileName">
                      <!-- <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok"></span></button> -->
                      <a ng-click="stopEditing()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </form>
                    <p ng-hide="isEditing(file.Key)">{{ (file.Key).toString().slice(8, (file.Key).length)}}</p></th>
                    <th><button type="button" ng-click="showEditForm(file.Key)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button></th>
                    <th>{{ (file.Size / 1000000).toFixed(3) }} MB</th>
                    <th>{{ (file.LastModified).toString().slice(0, 15)}}</th>
                    <th><a href="http://yh.interview.s3.amazonaws.com/{{file.Key}}"><button type="button" class="btn btn-link"><span class="glyphicon glyphicon-download-alt"></span></button></a></th>
                    <th><button type="button" ng-click="deleteFileFromS3(file)" class="close">&times;</button></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
    </div>

    <!-- javascripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/aws-sdk-js/dist/aws-sdk.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>

    <!-- Not sure I'll need these yet
    <script src="scripts/services.js"></script>
    <script src="scripts/directives.js"></script> -->
  </body>
</html>